@import 'globals/_reset.less';
@import 'globals/_mixins.less';
@import 'globals/_variables.less';


article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }


/* --------Text Styling-------- */ 
h1{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
}

h2{
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
}
p{
	font-family: 'Open Sans' , sans-serif;
	font-style: normal;
	font-weight: 500;
}

h1, h2 {
	text-align: center;
	color: white;	
}


/* --------Layout--------  */

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    max-width: 1200px;
    min-width: 480px;
}

.banner-region{
	background-color: none;
	.container img{
		float: left;
		padding: 28px .5em;
		&:nth-child(even){
			float: right;
			padding: 35px .5em;
			}
		}
	}


.intro-region{
	.intro-color;
	.grad-purp-dkpurple-vert;
	img{
		max-width: 100%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		}
}

.projectrequirements-region{
	.projectrequirements-color;
	.projectrequirements-padding;
	background-color: @purple;
	img{
		margin-right: auto;
		margin-left: auto;
		}
}
.UX-region{
	.UX-color;
	img{
		margin-right: auto;
		margin-left: auto;
		}
}
.visualdesign-region{
	.visualdesign-color;
	padding-top: 75px;
	padding-left: 20px;

	h1, p {
	text-align: left;
		}
		
	ul{
		display: table;
	}
		
	li.text{
		display: table-cell;
		vertical-align: middle;
		width: 40%;
/*		float: left;*/
		margin-right: 6%;
		margin-left: 6%;
		padding-bottom: 75px;
	}
	

	.grad-purp-blue-diag;
	
	li.image{
		width: 30%;
		float: left;
		margin-left: -60px;
		}
}

.frontend-region{
	.frontend-color;
	padding-top: 75px;
	padding-left: 20px;

	li.image{
		width: 30%;
		float: left;
		margin-left: -120px;
		}

	li.text{
		width: 30%;
		float: left;
		margin-right: 6%;
		margin-left: 6%;
		}
	
}
.backend-region{
	.backend-color;
}
.test-region{
	.test-color;
	.grad-purple-vert;
	img{
		margin-right: auto;
		margin-left: auto;
		}
}
.conclusion-region{
	.conclusion-color;
	background-color: @purple;
	img{
		margin-right: auto;
		margin-left: auto;
		}
}
.footer-region{
	
}



