<div id="content">

	<div class="banner-region">
		<div class="container clearfix">
			    <img src="img/logo.png" width="202" height="44" alt="Logo">
			    <img src="img/icon_close.png" width="30" height="30" alt="Icon Close">
		</div>
	</div>
	
	<div class="intro-region">
		<div class="container">
		<article>
			<h1>Lorem ipsum dolor sit amet,</h1>
			<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
		</article>		
				<img src="img/img_explodedPhone.png" width="807" height="622" alt="Img ExplodedPhone">
		</div>
	</div>	
	
	<div class="projectrequirements-region">
		<div class="container">
		<img src="img/icon_projectReq.png" width="140" height="140" alt="Icon ProjectReq">
		<article>		
			<h1>Lorem ipsum dolor sit amet,</h1>
			<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
		</article>    	
	  	</div>
	</div>
	
	<div class="UX-region">
		<div class="container">
		<article>
			<h1>Lorem ipsum dolor sit amet,</h1>
			<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p> 		
		</article>
		<img src="img/img_uxDesign.png" width="937" height="453" alt="Img UxDesign">
		</div>
	</div>
	
	<div class="visualdesign-region">
		<div class="container clearfix">
		<article>
			<h1>Lorem ipsum dolor</h1>
			<p>
				<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreetconsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p> 
				<p>Lorem ipsum dolor sit amet tincidunt ut laoreetconsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p> 
			</p>  
		</article>
		<img src="img/img_sailsLayout.png" width="979" height="740" alt="Img SailsLayout">
		</div>
	</div>
	
	<div class="frontend-region">
		<div class="container clearfix">
		<article>
			<h1>Lorem ipsum dolor sit amet,</h1>
			<p>
				<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
			</p>
		</article>
	  	<img src="img/img_frontendDev.png" width="1094" height="918" alt="Img FrontendDev">
		</div>
	</div>
	
	<div class="backend-region">
		<div class="container">
		<article>		
		<h1>Lorem ipsum dolor sit amet,</h1>
		<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>	
		</article>    	
	  	<img src="img/img_backendDev.png" width="440" height="440" alt="Img BackendDev">
		</div>
	</div>
		
	<div class="test-region">
		<div class="container">
		<article>
		<h1>Lorem ipsum dolor sit amet,</h1>
		<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
		</article>
		<img src="img/icon_test.png" width="140" height="140" alt="Icon Test">
		</div>
	</div>
	
	<div class="conclusion-region">
		<div class="container">
		<article>
		<h1>Lorem ipsum dolor sit amet,</h1>
		<p> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
	  	</article>
	  	<img src="img/icon_superhero.png" width="140" height="140" alt="Icon Superhero">
		</div>
	</div>
	
	<div class="footer-region">
		<div class="container"></div>
</div>
